:root {
    --primary-color: #eaf8bf;
    --secondary-color: #006992;
    --accent-color: #eca400;
    --accent2-color: #001d4a;
    --heading-font: "Roboto", sans-serif;
    --body-font: "Nata Sans", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-weight: 200;
    color: var(--secondary-color);
}

header, main, footer {
    max-width: 840px ;
    width: 100%;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 1rem;
    background-color:var(--accent2-color);
    color: #fff;
    gap: 1rem;
}

.logo-title{
    display: flex;
    align-items: center;
    gap: 1rem;
}

header img {
    width: 80px;
    height: auto;
}

header h1 {
    font-family: var(--heading-font);
    font-size: 1.8rem;
}


nav {
    display: flex;
    
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight:  500;
}

nav a:hover {
    color:var(--primary-color);
    text-decoration: underline;
}


h1, h2 {
    font-family: var(--heading-font);
    font-weight: 400;
    color: var(--accent-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
    
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1, .hero article {
    position: absolute;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.hero h1 {
    top: 20px;
    left: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 2rem;
}

.hero article {
    bottom: 20px;
    left: 20px;
    width: 300px;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}


.hero article img {
    float: right;
    margin-left: 10px; 
    width: 125px;
    border-radius: 6px;
}


.history{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem ;
    margin: 2rem 0;
}

.history img {
    width: 100%;
    border-radius: 6px;
}


.adventure-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.adventure-gallery figure {
    flex: 1 1 calc(20% - 1rem);
    text-align: center;
}

.adventure-gallery img {
    width: 100%;
    border-radius: 4px;

}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent2-color);
    color: var(--accent-color);
    padding: 1rem 2rem;

}

footer .socialmedia {
    display: flex;
    gap: 1rem;
}

footer .socialmedia img {
    width: 32px;
}

.socialmedia a {
    text-decoration: none;
}




@media (max-width: 768px) {
    .history {
        grid-template-columns: 1fr;
    
}

.adventure-gallery figure {
    flex: 1 1 100%;
}

nav ul {
    flex-direction: column;
    align-items: flex-end;
}
.hero h1 {
    font-size: 1.5rem;
}

.hero article {
    width: 90%;
    left: 5%;
    flex-direction: column;
    align-items: center;
}

.hero article img {
    width: 100px;
    margin: 0;
}

}
